/* Bg */
body {
    height: 90vh;

    background: url(images/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}



.glass-box {
    padding-top: 25px;
    height: 110px;
    width: 190px;
    backdrop-filter: blur(1px);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
}

.avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar img {
    width: 20px;
}


.avatar-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
}

.avatar-name h5 {
    margin: 0;
    padding-top: 2px;
    font-size: 5px;
}



.buttons-class {
    display: flex;
    flex-direction: column;


}