/* Bg */
body {
    height: 90vh;

    background: url(images/Bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}



.glass-box {
    padding: 8px;
    padding-bottom: 0px;
    height: 600px;
    width: 700px;
    backdrop-filter: blur(4px);
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: 20px 20px 100px black;
}



.avatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.avatar img {
    width: 80px;
    margin-bottom: 5px;
    padding: 0 18px;

}

.avatar .vs-img {
    backdrop-filter: blur(4px);
}

.avatar-name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 0px;
}

.avatar-name h5 {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: hsla(0, 0%, 100%, 0.231);
    border-radius: 20px;
}


.buttons-class {
    display: flex;
    flex-direction: column;
}

/*==================*/
/* Fight Arena     =*/
/*==================*/

.contianer-fight-arean {
    display: flex;
    justify-content: center;
}

.fight-arena {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    height: auto;
    padding: 15px;
}

.buttons-class {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-left: 25px;
    margin-top: 25px;
}

.choice {
    padding: 0px;
    margin: 0px;
    border-radius: 4px;
    border: none;
    background: none;
}

.choice img {
    width: 100px;
    cursor: pointer;
}

.choice.you-choice img:hover {
    transform: scale(0.9);
}

.choice.you-choice img:active {
    transform: scale(0.8);
}

/*=============*/
/* Score      =*/
/*=============*/

.container-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.score-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.score-info p {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-family: fantasy;
}